<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Items of our Hotel</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/kabab.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/kabab2.jfif"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Kabab</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">small pieces of meat or seafood seasoned or marinated and broiled, often with tomatoes, green peppers, onions, or other vegetables, usually on a skewer.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/momo1.jfif" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/momo1.jfif"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Momo</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Momo is a type of steamed dumpling with some form of filling, most commonly beef and it is originally from Tibet.A simple white-flour-and-water dough is generally preferred to make the outer momo covering.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/ch.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/ch.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chowmein</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">In India, it was introduced by the Chinese of Calcutta. It is usually offered Hakka-style, with gravy. Catering to vegetarian diets, there is an Indian variant, vegetable chow mein, which consists of noodles with cabbage, bamboo shoots, pea pods, green peppers, and carrots.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/butterchicken.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/butterchicken.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Butter-Chicken</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Butter chicken, traditionally known as Murgh makhani, pronounced  is a type of curry made from chicken with a spiced tomato and butter sauce. Its sauce is known for its rich texture. In addition sometimes the cream gives the curry sauce a silky smooth rich texture .</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani is a mixed rice dish. It is made with Indian spices, rice, and
                            meat usually that of chicken,mutton and sometimes, in addition, eggs or vegetables such as
                            potatoes in certain regional varieties.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/icecream.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/icecream.jpg"
                            alt="..." /></div>
                </a>
            </li>
            
        </ul>
    </div>
</section>