.mat-toolbar{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
}

.title-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-form-field{
    padding: 5px;
}

.login{
    background-color: aqua;
    color: black;
}

.button{
    background-color: aqua;
    color: black;
}