.mat-toolbar{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
}

.title-center{
    flex: 1 1 auto;
    text-align: center;
}

.button{
    color: black;
    background-color:aqua;
}
.signup{
    color: black;
    background-color: aqua;
}

mat-form-field{
    padding: 5px;
}